<div class="container" style="margin-top: 20px;">
    <div class="row">
        <div class="col-sm-4">
            <div class="card bg-c-pink text-white widget-visitor-card">
                <div class="card-block-small text-center">
                    <h2>{{totalPayments}}</h2>
                    <h6>Total Payments</h6>
                    <i class="feather icon-user"></i>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card bg-c-blue text-white widget-visitor-card">
                <div class="card-block-small text-center">
                    <h2>{{companiesCount}}</h2>
                    <h6>Active Companies</h6>
                    <i class="feather icon-file-text"></i>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card bg-c-yellow text-white widget-visitor-card">
                <div class="card-block-small text-center">
                    <h2>{{customersCount}}</h2>
                    <h6>Active Cutomers</h6>
                    <i class="feather icon-award"></i>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row justify-content-md-center">
                <div  style="margin-right: 15px;">
                    <a href="/admin/account" class="btn btn-inverse btn-xlg" style="height: 180px; width: 230px">Accounts</a>
                </div>
                <div  style="margin-right: 15px;">
                    <a href="/admin/company" class="btn btn-inverse btn-xlg" style="height: 180px;">Manage Companies</a>
                </div>
                <div style="margin-left: 15px;">
                    <a href="/admin/customer" class="btn btn-inverse btn-xlg" style="height: 180px;">Manage
                        Customers</a>
                </div>
            </div>
        </div>
    </div>
</div>