<html>

<head>
    <!-- feather Awesome -->
    <link rel="stylesheet" type="text/css" href="http://localhost:3000/css/feather.css">
    <!-- Style.css -->
    <link rel="stylesheet" type="text/css" href="http://localhost:3000/css/style-dash.css">
</head>

<body>
    <div class="row">
        <div class="col-xl-3 col-md-6">
            <div class="card bg-c-yellow update-card">
                <div class="card-block">
                    <div class="row align-items-end">
                        <div class="col-8">
                            <h4 class="text-white">{{totalPayments}}</h4>
                            <h6 class="text-white m-b-0">All Earnings</h6>
                        </div>
                        <div class="col-4 text-right"><iframe class="chartjs-hidden-iframe" tabindex="-1"
                                style="display: block; overflow: hidden; border: 0px; margin: 0px; inset: 0px; height: 100%; width: 100%; position: absolute; pointer-events: none; z-index: -1;"></iframe>
                            <canvas id="update-chart-1" height="62" width="116"
                                style="display: block; height: 50px; width: 93px;"></canvas>
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <p class="text-white m-b-0"><i class="feather icon-clock text-white f-14 m-r-10"></i>update : 2:15
                        am</p>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-md-6">
            <div class="card bg-c-green update-card">
                <div class="card-block">
                    <div class="row align-items-end">
                        <div class="col-8">
                            <h4 class="text-white">{{last30DaysPayments}}</h4>
                            <h6 class="text-white m-b-0">Last 30 Days</h6>
                        </div>
                        <div class="col-4 text-right"><iframe class="chartjs-hidden-iframe" tabindex="-1"
                                style="display: block; overflow: hidden; border: 0px; margin: 0px; inset: 0px; height: 100%; width: 100%; position: absolute; pointer-events: none; z-index: -1;"></iframe>
                            <canvas id="update-chart-2" height="62" width="116"
                                style="display: block; height: 50px; width: 93px;"></canvas>
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <p class="text-white m-b-0"><i class="feather icon-clock text-white f-14 m-r-10"></i>update : 2:15
                        am</p>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-md-6">
            <div class="card bg-c-pink update-card">
                <div class="card-block">
                    <div class="row align-items-end">
                        <div class="col-8">
                            <h4 class="text-white">{{inAccount}}</h4>
                            <h6 class="text-white m-b-0">In Account</h6>
                        </div>
                        <div class="col-4 text-right"><iframe class="chartjs-hidden-iframe" tabindex="-1"
                                style="display: block; overflow: hidden; border: 0px; margin: 0px; inset: 0px; height: 100%; width: 100%; position: absolute; pointer-events: none; z-index: -1;"></iframe>
                            <canvas id="update-chart-3" height="62" width="116"
                                style="display: block; height: 50px; width: 93px;"></canvas>
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <p class="text-white m-b-0"><i class="feather icon-clock text-white f-14 m-r-10"></i>update : 2:15
                        am</p>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-md-6">
            <div class="card bg-c-lite-green update-card">
                <div class="card-block">
                    <div class="row align-items-end">
                        <div class="col-8">
                            <h4 class="text-white">{{internalPayments}}</h4>
                            <h6 class="text-white m-b-0">Internal Payments</h6>
                        </div>
                        <div class="col-4 text-right"><iframe class="chartjs-hidden-iframe" tabindex="-1"
                                style="display: block; overflow: hidden; border: 0px; margin: 0px; inset: 0px; height: 100%; width: 100%; position: absolute; pointer-events: none; z-index: -1;"></iframe>
                            <canvas id="update-chart-4" height="62" width="116"
                                style="display: block; height: 50px; width: 93px;"></canvas>
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <p class="text-white m-b-0"><i class="feather icon-clock text-white f-14 m-r-10"></i>update : 2:15
                        am</p>
                </div>
            </div>
        </div>
    </div>
</body>

</html>