<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Bus Platform</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Poppins:600&display=swap" rel="stylesheet">
    <!-- feather Awesome -->
    <link rel="stylesheet" type="text/css" href="/css/feather.css">
    <!-- Style.css -->
    <link rel="stylesheet" type="text/css" href="/css/style-dash.css">
</head>

<body>
    {{#if image}}
    {{> navbarUser }}
    {{else}}
    {{> navbar }}
    {{/if}}
    {{{body}}}
    <script src="/js/fontawesome81368914c.js"></script>
    <script src="/js/jquery-3.5.1.slim.min.js"></script>
    <script src="/js/bootstrap.bundle.min.js"></script>
</body>

</html>