<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Tansport Bus Platform</title>
    <link rel="apple-touch-icon" sizes="57x57" href="/home2/images/favicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/home2/images/favicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/home2/images/favicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/home2/images/favicon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/home2/images/favicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/home2/images/favicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/home2/images/favicon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/home2/images/favicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/home2/images/favicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="/home2/images/favicon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/home2/images/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/home2/images/favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/home2/images/favicon/favicon-16x16.png">
    <link rel="manifest" href="/home2/images/favicon/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <link rel="stylesheet" href="/home2/css/style.css">
    <link rel="stylesheet" href="/home2/css/responsive.css">
</head>

<body>
    <div class="preloader"></div><!-- /.preloader -->
    <div class="page-wrapper">
        <header class="site-header header-one header-one__home-two">
            <nav class="navbar navbar-expand-lg navbar-light header-navigation stricky">
            </nav>
        </header><!-- /.header-one -->
        <section class="banner-two" id="home">
            <div class="container">
                <div class="banner-two__moc-wrap">
                    <img src="/home2/images/banner-2-1.png" class="banner-two__moc" alt="Awesome Image" />
                </div><!-- /.banner-two__moc-wrap -->
                <div class="row justify-content-start">
                    <div class="col-lg-5">
                        <div class="banner-two__content">
                            <h3 class="banner-two__title">Transport <br> Bus <br> Platform</h3>
                            <!-- /.banner-two__title -->
                            <p class="banner-two__text">Add and Manage your Trips, Reach more Customers, Increase Profit
                            </p><!-- /.banner-two__text -->
                            <a href="/users/register" class="banner-two__btn thm-btn">Register Now</a>
                        </div><!-- /.banner-two__content -->
                    </div><!-- /.col-lg-5 -->
                </div><!-- /.row justify-content-end -->
            </div><!-- /.container -->
        </section><!-- /.banner-two -->
        <section class="brand-one">
            <div class="container">
                <div class="brand-one__carousel owl-theme owl-carousel">
                    <div class="item">
                        <img src="/home2/images/brand-1-1.png" alt="Awesome Image" />
                    </div><!-- /.item -->
                    <div class="item">
                        <img src="/home2/images/brand-1-2.png" alt="Awesome Image" />
                    </div><!-- /.item -->
                    <div class="item">
                        <img src="/home2/images/brand-1-3.png" alt="Awesome Image" />
                    </div><!-- /.item -->
                    <div class="item">
                        <img src="/home2/images/brand-1-4.png" alt="Awesome Image" />
                    </div><!-- /.item -->
                    <div class="item">
                        <img src="/home2/images/brand-1-5.png" alt="Awesome Image" />
                    </div><!-- /.item -->
                    <div class="item">
                        <img src="/home2/images/brand-1-1.png" alt="Awesome Image" />
                    </div><!-- /.item -->
                    <div class="item">
                        <img src="/home2/images/brand-1-2.png" alt="Awesome Image" />
                    </div><!-- /.item -->
                    <div class="item">
                        <img src="/home2/images/brand-1-3.png" alt="Awesome Image" />
                    </div><!-- /.item -->
                    <div class="item">
                        <img src="/home2/images/brand-1-4.png" alt="Awesome Image" />
                    </div><!-- /.item -->
                    <div class="item">
                        <img src="/home2/images/brand-1-5.png" alt="Awesome Image" />
                    </div><!-- /.item -->
                </div><!-- /.brand-one__carousel owl-theme owl-carousel -->
            </div><!-- /.container -->
        </section><!-- /.brand-one -->
        <section class="service-one" id="services">
            <div class="container">
                <div class="block-title text-center">
                    <h2 class="block-title__title">Advance App <br> Features</h2><!-- /.block-title__title -->
                </div><!-- /.block-title -->
                <div class="row">
                    <div class="col-lg-4">
                        <div class="service-one__single">
                            <div class="service-one__icon">
                                <i class="appyn-icon-target-1"></i>
                            </div><!-- /.service-one__icon -->
                            <h3 class="service-one__title"><a href="#">Rich User<br> Experience</a></h3>
                            <!-- /.service-one__title -->
                            <p class="service-one__text">There are great user intefaces <br /> friendly user experience
                                <br /> simply injoyable <br> to use.</p><!-- /.service-one__text -->
                        </div><!-- /.service-one__single -->
                    </div><!-- /.col-lg-4 -->
                    <div class="col-lg-4">
                        <div class="service-one__single">
                            <div class="service-one__icon">
                                <i class="appyn-icon-businessman"></i>
                            </div><!-- /.service-one__icon -->
                            <h3 class="service-one__title"><a href="#">Company <br> Control</a></h3>
                            <!-- /.service-one__title -->
                            <p class="service-one__text">Provide an easy to use <br /> dashboard, can show the reservations
                                <br /> edit thier trips status <br> reserve a trip for customer</p><!-- /.service-one__text -->
                        </div><!-- /.service-one__single -->
                    </div><!-- /.col-lg-4 -->
                    <div class="col-lg-4">
                        <div class="service-one__single">
                            <div class="service-one__icon">
                                <i class="appyn-icon-paper-plane"></i>
                            </div><!-- /.service-one__icon -->
                            <h3 class="service-one__title"><a href="#">Admin <br> Monitoring</a></h3>
                            <!-- /.service-one__title -->
                            <p class="service-one__text">Provide a Dashboard for admin<br /> enables admin to enable/disable account
                                <br />change thier status <br> see whats going on.</p><!-- /.service-one__text -->
                        </div><!-- /.service-one__single -->
                    </div><!-- /.col-lg-4 -->
                </div><!-- /.row -->
            </div><!-- /.container -->
        </section><!-- /.service-one -->
        <section class="cta-one">
            <div class="container">
                <img src="/home2/images/cta-moc-1-1.png" class="cta-one__moc" alt="Awesome Image" />
                <div class="row">
                    <div class="col-lg-6">
                        <div class="cta-one__content">
                            <div class="block-title text-left">
                                <h2 class="block-title__title">Company Dashboard <br>Website</h2>
                                <!-- /.block-title__title -->
                            </div><!-- /.block-title -->
                            <p class="cta-one__text">a dashboard for bus companies enable them to:</p><!-- /.cta-one__text -->
                            <ul class="cta-one__list">
                                <li class="cta-one__list-item"><i class="fa fa-check"></i>easy adding trips to the system </li><!-- /.cta-one__list-item -->
                                <li class="cta-one__list-item"><i class="fa fa-check"></i>manage trip reservations and trip status</li><!-- /.cta-one__list-item -->
                                <li class="cta-one__list-item"><i class="fa fa-check"></i>manage thier payments on the system</li><!-- /.cta-one__list-item -->
                            </ul><!-- /.cta-one__list -->
                            <a href="/users/register" class="cta-one__btn thm-btn">Register Now</a>
                        </div><!-- /.cta-one__content -->
                    </div><!-- /.col-lg-6 -->
                </div><!-- /.row -->
            </div><!-- /.container -->
        </section><!-- /.cta-one -->
        <section class="app-screen-one" id="screens">
            <div class="container-fluid">
                <div class="block-title text-center">
                    <h2 class="block-title__title">YemenBus <br> screenshot</h2><!-- /.block-title__title -->
                </div><!-- /.block-title -->
                <div class="app-screen-one__carousel owl-carousel owl-theme">
                    <div class="item">
                        <img src="/home2/images/app-screen-1-1.png" alt="Awesome Image" />
                    </div><!-- /.item -->
                    <div class="item">
                        <img src="/home2/images/app-screen-1-2.png" alt="Awesome Image" />
                    </div><!-- /.item -->
                    <div class="item">
                        <img src="/home2/images/app-screen-1-3.png" alt="Awesome Image" />
                    </div><!-- /.item -->
                    <div class="item">
                        <img src="/home2/images/app-screen-1-4.png" alt="Awesome Image" />
                    </div><!-- /.item -->
                    <div class="item">
                        <img src="/home2/images/app-screen-1-5.png" alt="Awesome Image" />
                    </div><!-- /.item -->
                    <div class="item">
                        <img src="/home2/images/app-screen-1-1.png" alt="Awesome Image" />
                    </div><!-- /.item -->
                    <div class="item">
                        <img src="/home2/images/app-screen-1-2.png" alt="Awesome Image" />
                    </div><!-- /.item -->
                    <div class="item">
                        <img src="/home2/images/app-screen-1-3.png" alt="Awesome Image" />
                    </div><!-- /.item -->
                    <div class="item">
                        <img src="/home2/images/app-screen-1-4.png" alt="Awesome Image" />
                    </div><!-- /.item -->
                    <div class="item">
                        <img src="/home2/images/app-screen-1-5.png" alt="Awesome Image" />
                    </div><!-- /.item -->
                    <div class="item">
                        <img src="/home2/images/app-screen-1-1.png" alt="Awesome Image" />
                    </div><!-- /.item -->
                    <div class="item">
                        <img src="/home2/images/app-screen-1-2.png" alt="Awesome Image" />
                    </div><!-- /.item -->
                    <div class="item">
                        <img src="/home2/images/app-screen-1-3.png" alt="Awesome Image" />
                    </div><!-- /.item -->
                    <div class="item">
                        <img src="/home2/images/app-screen-1-4.png" alt="Awesome Image" />
                    </div><!-- /.item -->
                    <div class="item">
                        <img src="/home2/images/app-screen-1-5.png" alt="Awesome Image" />
                    </div><!-- /.item -->
                </div><!-- /.app-screen-one__carousel -->
            </div><!-- /.container -->
        </section><!-- /.app-screen-one -->
        
        </section><!-- /.subscribe-one -->
        <footer class="site-footer">
            <div class="site-footer__upper">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-5">
                            <div class="footer-widget">
                                <a href="index.html" class="footer-widget__logo"><h2 style="color: white;">YemenBus</h2></a>
                                <p class="footer-widget__text">Lorem ipsum velna vitae auctor a congue magna tempor
                                    sapien eget gravida done.</p><!-- /.footer-widget__text -->
                            </div><!-- /.footer-widget -->
                        </div><!-- /.col-lg-5 -->
                        <div class="col-lg-4">
                            <div class="footer-widget">
                                <ul class="footer-widget__links">
                                    <li class="footer-widget__links-item"><a href="#">About</a></li>
                                    <li class="footer-widget__links-item"><a href="#">Our Team</a></li>
                                    <li class="footer-widget__links-item"><a href="#">Features</a></li>
                                    <li class="footer-widget__links-item"><a href="#">Blog</a></li>
                                    <li class="footer-widget__links-item"><a href="#">How It Works</a></li>
                                </ul><!-- /.footer-widget__links -->
                                <ul class="footer-widget__links">
                                    <li class="footer-widget__links-item"><a href="#">Speed Optimization</a></li>
                                    <li class="footer-widget__links-item"><a href="#">Marketing Analysis</a></li>
                                    <li class="footer-widget__links-item"><a href="#">SEO and Backlinks</a></li>
                                    <li class="footer-widget__links-item"><a href="#">Content Marketing</a></li>
                                </ul><!-- /.footer-widget__links -->
                            </div><!-- /.footer-widget -->
                        </div><!-- /.col-lg-4 -->
                        <div class="col-lg-3">
                            <div class="footer-widget">
                                <a href="#" class="footer-widget__btn">
                                    <i class="fa fa-play"></i>
                                    <span class="footer-widget__btn-text">
                                        Get in <span class="footer-widget__btn-text-highlight">Google Play</span>
                                    </span>
                                </a>
                                <a href="#" class="footer-widget__btn">
                                    <i class="fa fa-play"></i>
                                    <span class="footer-widget__btn-text">
                                        Get in <span class="footer-widget__btn-text-highlight">play store</span>
                                    </span>
                                </a>
                            </div><!-- /.footer-widget -->
                        </div><!-- /.col-lg-3 -->
                    </div><!-- /.row -->
                </div><!-- /.container -->
            </div><!-- /.site-footer__upper -->
            <div class="site-footer__bottom">
                <div class="container">
                    <div class="site-footer__social">
                        <a href="#"><i class="fa fa-facebook-square"></i></a>
                        <a href="#"><i class="fa fa-twitter"></i></a>
                        <a href="#"><i class="fa fa-instagram"></i></a>
                        <a href="#"><i class="fa fa-pinterest-p"></i></a>
                    </div><!-- /.site-footer__social -->
                    <p class="site-footer__copy-text"><i class="fa fa-copyright"></i>copyright 2021 by <a
                            href="#">yemenbus.com</a></p><!-- /.site-footer__copy-text -->
                </div><!-- /.container -->
            </div><!-- /.site-footer__bottom -->
        </footer><!-- /.site-footer -->
    </div><!-- /.page-wrapper -->
    <a href="#" data-target="html" class="scroll-to-target scroll-to-top"><i class="fa fa-angle-up"></i></a>
    <!-- /.scroll-to-top -->
    <script src="/home2/js/jquery.js"></script>
    <script src="/home2/js/bootstrap.bundle.min.js"></script>
    <script src="/home2/js/owl.carousel.min.js"></script>
    <script src="/home2/js/waypoints.min.js"></script>
    <script src="/home2/js/jquery.counterup.min.js"></script>
    <script src="/home2/js/waypoints.min.js"></script>
    <script src="/home2/js/jquery.counterup.min.js"></script>
    <script src="/home2/js/jquery.magnific-popup.min.js"></script>
    <script src="/home2/js/owl.carousel.min.js"></script>
    <script src="/home2/js/swiper.min.js"></script>
    <script src="/home2/js/jquery.easing.min.js"></script>
    <script src="/home2/js/theme.js"></script>
</body>

</html>